{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}
{% block body %}
    <form class="form-signin" method="post">
        <div class="w-100 text-center">
            <img class="mb-4" src="{{ asset('img/snowtricks_128.png') }}" alt="" width="72" height="72">

            <h1>Connexion</h1>
        </div>
        <label for="inputPseudo">Pseudo</label>
        <input type="text" value="{{ last_username }}" name="pseudo" id="inputPseudo" class="form-control" required autofocus>
        <label for="inputPassword">Mot de passe</label>
        <input type="password" name="password" id="inputPassword" class="form-control" required>
        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >
        <button class="btn btn-lg btn-success" type="submit">
            Connexion
        </button>
    </form>
{% endblock %}
