{% extends 'base.html.twig' %}

{% block title %}SnowTricks - Accueil{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}
    {% block mainImage %}
        {{ parent() }}
        <div class="bg">
            <div class="d-flex justify-content-center h-100">
                <div class="d-flex align-items-center">
                    <h1 class="bg-white">SnowTricks.</h1>
                </div>
            </div>
            <div class="d-flex justify-content-end position-absolute fixed-bottom">
                <div class="d-flex align-items-end">
                    <a href="#figures" class="text-dark"><i class="fas fa-3x fa-arrow-down px-5 py-5"></i></a>
                </div>
            </div>
        </div>
    {% endblock %}

{% block body %}
    <!-- Figures listing -->
    <section id="figures" class="position-relative">
        <h2 class="text-center">Liste de figures</h2>
        <div class="row" id="figuresList">
            {% for figure in figures %}
                <div class="col-lg-3 col-md-4 col-sm-6 p-2">
                    <div class="card">
                        <a href="{{ path('figure_show', {'id' : figure.id, 'slug': figure.slug}) }}">
                            <img src="{{ asset(figure.pictures|first.url) }}" class="card-img-top">
                            <div class="card-body text-center">
                                <h5 class="card-title">
                                    {{ figure.name }}
                                    {% if app.user %}
                                        <div class="float-right">
                                            <a href="{{ path('figure_edit', {'id' : figure.id, 'slug': figure.slug}) }}"><i class="fas fa-pencil-alt"></i></a>
                                            <a href="{{ path('figure_delete', {'id' : figure.id, 'slug': figure.slug}) }}" onclick="return confirm(`Êtes-vous sûr de vouloir supprimer la figure : {{figure.name}} ?`)"><i class="fas fa-trash-alt"></i></a>
                                            </div>
                                    {% endif %}
                                </h5>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <button id="loadMoreFigures" onclick="loadMoreFigures()" class="btn btn-primary">Voir plus de figures</button>
            </div>
        </div>
    </section>
{% endblock %}
{% block scripts %}
    <script>
        function loadMoreFigures(){
            $.get( `{{ path('loadMoreFigures', {
                'start' : 0
            }) }}`.replace(0, ($("#figuresList > div").length))
            , function( data ) {
                $('#figuresList').append(data);
                showAlerts();
            });
        }
    </script>
{% endblock %}