{% extends 'base.html.twig' %}

{% block title %}SnowTricks - Accueil{% endblock %}

{% block body %}
    <!-- Figures listing -->

    <section id="figures" class="position-relative">
        <div class="category-menu text-center">
            {% for category in categories %}
                <button type="button" class="btn btn-primary" value="{{ category.id }}">{{ category.name }}</button>
            {% endfor %}
        </div>
        <div class="row" id="figuresList">
            {% for figure in figures %}
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="card">
                        <a href="{{ path('figure_show', {'id' : figure.id, 'slug': figure.slug}) }}">
                            <img src="{{ asset(figure.pictures|first.url) }}" class="card-img-top">
                            <div class="card-body text-center">
                                <h5 class="card-title">
                                    {{ figure.name }}
                                    {% if app.user %}
                                        <div class="float-right">
                                            <a href="{{ path('figure_edit', {'id' : figure.id, 'slug': figure.slug}) }}"><i class="fas fa-pencil-alt"></i></a>
                                            <a href="{{ path('figure_delete', {'id' : figure.id, 'slug': figure.slug}) }}" onclick="return confirm(`Êtes-vous sûr de vouloir supprimer la figure : {{figure.name}} ?`)"><i class="fas fa-trash-alt"></i></a>
                                            </div>
                                    {% endif %}
                                </h5>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <button id="loadMoreFigures" onclick="loadMoreFigures()" class="btn btn-primary">Voir plus de figures</button>
            </div>
        </div>
    </section>
{% endblock %}
{% block scripts %}
    <script>
        function loadMoreFigures(){
            $.get( `{{ path('loadMoreFigures', {
                'category' : 38,
                'start' : 0
            }) }}`.replace(0, ($("#figuresList > div").length))
            , function( data ) {
                $('#figuresList').append(data);
                showAlerts();
            });
        }
    </script>
{% endblock %}