{% extends 'base.html.twig' %}
{% form_theme registrationForm 'bootstrap_4_layout.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <div class="w-100 text-center">
        <h1>Inscription</h1>
    </div>
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.pseudo, {
            label: 'Pseudo'
        })  }}
        {{ form_row(registrationForm.mailAddress, {
            label: 'Adresse mail'
        })  }}
        {{ form_row(registrationForm.plainPassword) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn btn-success">Créer un comtpe</button>
    {{ form_end(registrationForm) }}
{% endblock %}
