{% extends "base.html.twig" %}
{% form_theme form with [
    'formTemplate/figureEdition/video.html.twig',
    'formTemplate/figureEdition/picture.html.twig',
    'formTemplate/figureEdition/figure.html.twig'
] %}

{% block body %}
    {{ form_start(form) }}
    <h1 class="text-center">Ajout d'un nouveau trick
        <a class="btn-icon text-success">
            <i class="fas fa-save"></i>
            <input type="submit">
        </a>
    </h1>
    <div class="row">
        <div class="col-12 col-sm-6">
            {{ form_errors(form.name) }}
            {{ form_row(form.name) }}
        </div>
        <div class="col-12 col-sm-6">
            {{ form_row(form.category) }}
        </div>
    </div>
    {{ form_row(form.description) }}
    <div id="figureMedias">
        <div class="row" id="picturesCollectionHolder"
             data-prototype="{{ form_widget(form.pictures.vars.prototype)|e('html_attr') }}">
            {{ form_row(form.pictures) }}
        </div>
        <div class="row" id="videosCollectionHolder" data-prototype="{{ form_widget(form.videos.vars.prototype)|e('html_attr') }}">
            {{ form_row(form.videos) }}
        </div>
    </div>

    <div class="w-100 mt-5 text-center">
        <button type="submit" class="btn btn-success">
            <div class="d-flex justify-content-center align-items-center">
                <p class="mb-0">Sauvegarder&nbsp;</p>
                <i class="fas fa-2x fa-save"></i>
            </div>
        </button>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="{{ asset('js/figureEdition.js') }}"></script>
    <script src="{{ asset('js/figure.js') }}"></script>
    <script src="https://cdn.tiny.cloud/1/qtbjnfyjw2gfqvvttixssesjg5vu9qhp3vdcrj12r0mw75wt/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: 'textarea.tinyTextarea',
            plugins: 'advlist autolink lists link image charmap print preview hr anchor pagebreak autoresize',
            toolbar_mode: 'floating',
            image_title: true,
            block_unsupported_drop: false,
            language: 'fr_FR',
            /*
              URL of our upload handler (for more details check: https://www.tiny.cloud/docs/configure/file-image-upload/#images_upload_url)
              images_upload_url: 'postAcceptor.php',
              here we add custom filepicker only to Image dialog
            */
            file_picker_types: 'image',
            images_file_types: 'jpg,jpeg,png,svg,webp',
            file_picker_callback: function (cb, value, meta) {
                var input = document.createElement('input');
                const extensions = ['image/jpg','image/jpeg','image/gif','image/png','image/svg','image/webp']
                input.setAttribute('type', 'file');
                input.setAttribute('accept', 'image/*');

                input.onchange = function () {
                    var file = this.files[0];
                    if (!extensions.includes(file.type)){
                        alert("Veuillez n'inséque des images");
                        return;
                    }
                    var reader = new FileReader();
                    reader.onload = function () {

                        var id = 'blobid' + (new Date()).getTime();
                        var blobCache =  tinymce.activeEditor.editorUpload.blobCache;
                        var base64 = reader.result.split(',')[1];
                        var blobInfo = blobCache.create(id, file, base64);
                        blobCache.add(blobInfo);

                        cb(blobInfo.blobUri(), { title: file.name });
                    };
                    reader.readAsDataURL(file);
                };

                input.click();
            },
        });
        $('#figure_description').prop('required', false);
    </script>
{% endblock %}
{% block externalCSS %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("css/video.css") }}">
    <link rel="stylesheet" href="{{ asset("css/figure.css") }}">
{% endblock %}