{% block _figure_pictures_entry_row %}
    <fieldset class="card col-4 p-2 m-2 align-middle">
        <div class="card-img-top">
            {{ form_widget(form.url) }}
        </div>
        <div class="card-body">
            {{ form_widget(form.image) }}
            <div class="removeBtn"></div>
        </div>
    </fieldset>
{% endblock %}

{% block _figure_pictures_entry_url_row %}
chien
{% endblock %}

{% block _figure_pictures_entry_url_widget %}
        <img class="picture" width="100%" src="{{ form.vars.data }}"/>
        <input type="text" id="{{ form.vars.id }}" name="{{ form.vars.full_name }}" value="{{ form.vars.data }}" hidden/>
{% endblock %}

{% block _figure_pictures_entry_image_widget %}
    <input type="file" id="{{ form.vars.id }}" name="{{ form.vars.full_name }}">
{% endblock %}

{% block _figure_pictures_entry_image_row %}
    mangetamere
{% endblock %}

{% block _figure_pictures_entry_widget %}
{{ form_row(form) }}
{% endblock %}