{% for label, messages in app.flashes(['success', 'warning', 'info', 'danger']) %}
    {% for message in messages %}
        <div class="alert alert-{{ label }} d-none">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}
{% for comment in comments %}
    <div id="{{ comment.id }}" class="comment row mx-auto">
        <div class="col-2 col-md-1 mx-auto">
            <img class="rounded-circle bg-light" src="https://robohash.org/{{ comment.author.pseudo }}.png/?set=set1&size=64x64">
        </div>
        <div class="col-10 col-md-11 bg-light mx-auto">
            <p>
                <strong>{{ comment.author.pseudo }}</strong> <small class="text-muted">({{ comment.creationDate | date('d/m/Y à H:i') }}) :</small>
                <br>{{ comment.content }}
            </p>
        </div>
    </div>
{% endfor %}