{% extends "base.html.twig" %}
{% form_theme form "figure/video.html.twig" %}
{% block body %}
    {{ form_start(form) }}

    {{ form_row(form.name, {
        'label' : "Nom du trick",
        'attr' : {
            'placeholder' : 'Nom du trick (doit être unique)'
        }
    }) }}

    {{ form_row(form.description, {
        'label' : "Description du trick",
        'attr' : {
            'placeholder' : 'Description du nouvel article'
        }
    }) }}

    <p>Ajouter des vidéos pour illustrer votre trick !</p>
    {{ form_row(form.videos) }}
    {{ form_row(form.pictures) }}


    <button class="btn btn-success" type="submit">Ajouter l'article</button>

    {{ form_end(form) }}
{% endblock %}

{% block scripts %}
    <script>
        jQuery(document).ready(function () {
            // Get the ul that holds the collection of tags
            const $videosCollectionHolder = $('#figure_videos');
            addAddButton($videosCollectionHolder, "Ajouter une video");
            $videosCollectionHolder.data('index', $videosCollectionHolder.find('fieldset').length);

            for (const $elt of $videosCollectionHolder.find('fieldset')){
                addRemoveButton($elt, $videosCollectionHolder);
            }

            const $picturesCollectionHolder = $('#figure_pictures');
            addAddButton($picturesCollectionHolder, "Ajouter une image");
            $picturesCollectionHolder.data('index', $picturesCollectionHolder.find('fieldset').length);

            for(const $elt of $('.videoOnEdit>iframe')){
                $elt.width="280px";
                $elt.height=315/2+"px";
            }
            for(const $elt of $('.removeBtn')){
                $elt.width="280px";
                $elt.height=315/2+"px";
            }


        });

        function addAddButton($elt, value) {
            const button = document.createElement('button');
            button.className = "btn btn-primary";
            button.innerText = value;
            button.addEventListener('click', (e) => {
                e.preventDefault();
                addFormToCollection($elt);
            });
            $elt.after(button);
        }


        function addRemoveButton($elt, $collectionHolder){
            const button = document.createElement('button');
            button.className = "btn btn-danger";
            button.innerText = "Delete";
            button.addEventListener('click', (e) => {
                $elt.remove();
                let index = $collectionHolder.data('index');
                $collectionHolder.data('index', index --);
            });
            const $rem = $elt;
            $rem.append(button);
        }

        function addFormToCollection($collectionHolder) {
            const prototype = $collectionHolder.data('prototype');
            let index = $collectionHolder.data('index');
            const $newForm = $(prototype);
            $collectionHolder.data('index', index++);
            $collectionHolder.append($newForm);
            addRemoveButton($newForm,$collectionHolder);
        }
    </script>
{% endblock %}