{% extends "base.html.twig" %}
{% form_theme form "figure/video.html.twig" %}
{% block body %}
    {{ form_start(form) }}

    {{ form_row(form.name, {
        'label' : "Nom du trick",
        'attr' : {
            'placeholder' : 'Nom du trick (doit être unique)'
        }
    }) }}

    {{ form_row(form.description, {
        'label' : "Description du trick",
        'attr' : {
            'placeholder' : 'Description du trick'
        }
    }) }}

    <p>Ajouter des vidéos pour illustrer votre trick !</p>
    {{ form_row(form.videos) }}
    {{ form_row(form.pictures) }}


    <button class="btn btn-success" type="submit">Ajouter l'article</button>

    {{ form_end(form) }}
{% endblock %}

{% block scripts %}
    <script src="{{ asset('js/figureEdition.js') }}"></script>
{% endblock %}
{% block externalCSS %}
    <link rel="stylesheet" href="{{ asset("css/video.css") }}">
{% endblock %}
