{% extends "snowtricks/figure.html.twig" %}
{% form_theme form with [
    'figure/video.html.twig',
    'figure/picture.html.twig'
    ] %}
{% block mainImage %}
{% endblock %}
{% block figureTitle %}
    <h1>{{ form_widget(form.name) }}</h1>
{% endblock %}
 {% block operations %}
     <div class="operations">
         {# <a href="{{ path('figure_delete', {'id': figure.id, 'slug': figure.slug}) }}" onclick="return confirm(`Êtes-vous sûr de vouloir supprimer la figure : {{figure.name}} ?`)"><i class="fas fa-trash-alt"></i></a>
     #}
     </div>
 {% endblock %}

{% block pictures %}
    <div class="row" id="picturesCollectionHolder" data-prototype="{{ form_widget(form.pictures.vars.prototype)|e('html_attr') }}">
        {{ form_row(form.pictures) }}
    </div>
{% endblock %}

{% block videos %}
    <div class="row" id="videosCollectionHolder" data-prototype="{{ form_widget(form.videos.vars.prototype)|e('html_attr') }}">
    {{ form_row(form.videos) }}
    </div>
{% endblock %}
{% block description %}

    <h3>Description :</h3>
    {{ form_widget(form.description) }}
{% endblock %}

{% block comments %}
{% endblock %}

{% block infos %}
    <p class="col">Catégorie : {{ form_widget(form.category) }}</p>
{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ parent() }}
    <button class="btn btn-success" type="submit">Valider</button>
    {{ form_end(form) }}
{% endblock %}
{% block scripts %}
    {{ parent() }}
    <script src="{{ asset('js/figureEdition.js') }}"></script>
{% endblock %}
{% block externalCSS %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("css/video.css") }}">
{% endblock %}