{% extends "base.html.twig" %}
{% block body %}
    {{ figure.author.pseudo }}
    <br>
    {{ figure.name }}
    <br>
    {{ figure.description }}
    <br>
    {{ figure.creationDate|date("d/m/Y à H:i") }}
    <br>
    {% for comment in figure.comments %}
        <p>Posté par {{ comment.author.pseudo }} le {{ comment.creationDate|date("d/m/Y à H:i") }} : {{ comment.content }}</p>
        <br>
    {% endfor %}
    {% if app.user %}
        Ajoute un commentaire
    {% endif %}
{% endblock %}