{% block stylesheets %}

{% endblock %}
<!-- Footer -->
<footer class="page-footer font-small bg-light pt-4">
    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
        <div class="row">
            <div class="col-md-4 mt-md-0 mt-3">
                <h5 class="text-uppercase">SNOWTRICKS</h5>
            </div>
            <div class="col-md-4 mb-md-0 mb-3">
                <img src="{{ asset('img/snowtricks_64.png') }}" alt="Snowtricks icon">
            </div>
            <div class="col-md-4 mb-md-0 mb-3">
                <h5 class="text-uppercase">Links</h5>

                <ul class="list-unstyled">
                    {% if app.user %}
                        <li>
                            <a href="{{ path('figure_add') }}">Créer un trick</a>
                        </li>
                        <li>
                            <a href="{{ path('app_logout') }}">Déconnexion</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{{ path('app_register') }}">Inscription</a>
                        </li>
                        <li>
                            <a href="{{ path('app_login') }}">Connexion</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <!-- Grid column -->
        </div>
        <!-- Grid row -->
    </div>
    <!-- Footer Links -->
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="https://github.com/Xwyk"> Xwyk</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->